.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#people {
    display: flex;
    flex: 1;
}

#info {
    display: flex;
    flex: 1;
}

.stat {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
  }